/LEMS/record_property.spikes
/LEMS/record_property.dat
Brian/results/*
*~
Brian/*.dat
/NeuroML2/*brian*py
/NeuroML2/*_nrn.py
/NeuroML2/*.mod
/NeuroML2/x86_64
/NeuroML2/*.dat
/Brian/test/TwoCells.dat
/NeuroML2/report.txt
arm64
